body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background: #fffff8;
}

#app {
    display: grid;
    grid-auto-rows: minmax(1fr, 3fr);
    grid-gap: 1em;
    justify-content: center;

    /* grid-template-columns:  */
    height: 100vh;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    background: #f23557;
}

.holder {

}

.entry {
    background: rgba(59, 74, 107, 0.4);
}

#entryHolder {
}

#date {
}

#temp {
}

#content {
}

.headline {
}
.title {
}

.loading {
    background-color: orange;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
    display: block;
    font-size: 27px;
}

input {
    display: block;
    width: 320px;
    height: 60px;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    background: #22b2da;
    border: none;
}

button {
    width: 400px;
    height: 100px;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    background: #3b4a6b;
    border: none;
    box-shadow: 2px 4px 5px #444444;
}
h1 {
    font-size: 36px;
}

textarea {
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    background: #22b2da;
}

/* Reset style for HTML element on active to have no border */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Style for Placeholder Text */
::placeholder {

    /* Firefox, Chrome, Opera */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder {

    /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder {

    /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}
